@using Microsoft.AspNetCore.Identity

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <h2>Logout</h2>

    <form method="post" action="@Url.Action("Logout", "Account")">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>



@*

    @{
        ViewBag.Title = "Logout";
    }

    <h2>Logout</h2>


    @using (Html.BeginForm())
    {
    //    @Html.AntiForgeryToken()



        <input type="submit" value="Logout" class="btn btn-primary" />
    }

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
    <div class="alert alert-danger">
        <br />
        <br />
        @ViewBag.ErrorMessage
    </div>
    }

*@