@model IEnumerable<WebApplication5.Models.Korisnik>

@{
    ViewBag.Title = "KORISNIK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var korisnik in Model)
{
    <p>@korisnik.UserName</p>
}
<h4> ovde nesto</h4>
<h2>U POGLEDU KORISNIKA SAM</h2>
