@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Evidencija user story-a i taskova</p>
    <!-- <p><a href="" class="btn btn-primary btn-lg"></a></p>-->
</div>

