@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Evidencija user story-a i taskova</p>
    @if (Session["Username"] != null)
    {
        <p>Dobrodošli, @Session["Username"]!</p>
       
    }
    @if (Session["Username"] == null)
    {
        <p>Dobrodošli, goste! Molimo Vas da se prijavite da biste pristupili sadržaju.</p>
        
    }


</div>

